<nav>
   <div class="nav-wrapper">
      <a href="/" class="brand-logo">Расписание</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         {{#if isAuth}}
            {{#if admin}}
               <li><a href="/admin">Админка</a></li>
            {{/if}}
            <li><a href="/user/timetable">Расписание</a></li>
            <li><a href="/user/profile/">Профиль</a></li>
            <li><a href="/user/edit/">Настройки</a></li>
            <li><a href="/auth/logout">Выйти</a></li>
         {{else}}
            <li><a href="/auth/login/">Войти</a></li>
            <li><a href="/auth/registration/">Зарегистрироваться</a></li>
         {{/if}}
      </ul>
   </div>
</nav>