<h1>Админка</h1>
<div class="item"><a href="/admin/createday">Создать день</a></div>
<div class="item"><a href="/admin/editday">Изменить день</a></div>
<hr />
<div class="item"><a href="/admin/createlesson">Создать пару</a></div>
<div class="item"><a href="/admin/editlesson">Изменить пару</a></div>
<hr />
<div class="item"><a href="/admin/creategroup">Создать группу</a></div>
<div class="item"><a href="/admin/editgroup">Изменить группу</a></div>