<h1>Создать группу</h1>
<p>{{adminStatus}}</p>
<form action="/admin/creategroup/" method="POST">
   <input placeholder="Название группы" type="text" name="groupname" id="groupname" />
   <button class="btn btn-primary">Создать группу</button>
</form>